.price_top {
    background-color: #f6f9fc;
    padding: 40px 0;
}
.priceup h5 {
    color: #0d6efd;
    font-size: 16px;
}
.priceup h3 {
    position: relative;
    padding: 0 0 15px 0;
}
.priceup h3::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 317px;
    height: 2px;
    width: 40px;
    background-color: #0d6efd;
}
.priceup p {
    width: 59%;
    margin: auto;
    padding-top: 10px;
    color: rgb(126, 126, 126);
}
.card1 {
    margin-top: 35px;
    box-shadow: 0 0 11px -6px #111;
    transition: 0.5s;
    position: relative;
}
.card1:hover {
    background-color: #0d6efd;
    color: #ffffff;
    box-shadow: 0 0 11px -6px #0d6efd;
}
.card1 h5 {
    transition: 0.9s;
}
.card1 h5:hover {
    color: #ffffff;
}
.card1 h1 {
    padding: 15px 0;
    position: relative;
    transition: 0.9s;
    font-size: 40px;
}
.card1 h1:hover {
    color: #fff;
}
.card1 h1::after {
    content: "";
    position: absolute;
    top: 123px;
    left: 106px;
    height: 1px;
    width: 150px;
    background-color: rgba(150, 150, 150, 0.481);
}
.card1 ul {
    margin-top: 94px;
}
.card1 ul li {
    padding: 7px 0;
}
.card1 a {
    border-radius: 15px;
    margin-top: 10px;
    transition: 0.8s;
    width: 40%;
    margin: auto;
    display: inline-block;
    padding: 5px 6px;
    background-color: #0d6efd;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
    z-index: 5;
}
.card1:hover a {
    background-color: #fff;
    color: #0d6efd;
}

.pricebtn a::after {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    background-color: #0d6efd;
    border-radius: 15px;
    transition: 0.5s;
    z-index: -1;
}
.pricebtn a:hover::after {
    width: 100%;
}
.pricebtn a:hover {
    color: #fff;
}

/* free */
.freeSection {
    background-image: linear-gradient(rgba(74, 113, 231, 0.741), rgba(74, 113, 231, 0.7)), url(./img/free-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.freecontent h6 {
    font-size: 16px;
}
.freecontent h3 {
    width: 75%;
    margin: auto;
    font-size: 31px;
    position: relative;
}
.freecontent h3::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 154px;
    height: 2px;
    width: 84px;
    background-color: #fff;
}
.freecontent p {
    width: 85%;
    margin: auto;
    padding-top: 53px;
}
.perche a {
    border-radius: 15px;
    margin-top: 30px;
    transition: 0.8s;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    color: #0d6efd;
    background-color: #fff;
    padding: 10px 30px;
    font-weight: 500;
    position: relative;
    z-index: 5;
}
.perche a::after {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    background-color: #0d6efd;
    border-radius: 15px;
    transition: 0.5s;
    z-index: -1;
}
.perche a:hover::after {
    width: 100%;
}
.perche a:hover {
    color: #fff;
}

.newslettersection {
    background-color: #f8f9fa;
    padding: 50px 0;
}
.foresection {
    background-color: #3763eb;
    padding: 20px 30px;
    color: #fff;
    border-radius: 5px;
}
.foresection h3 {
    font-size: 25px;
    margin-top: 15px;
}
.foresection h4 {
    font-size: 16px;
    padding: 19px 0;
    width: 54%;
}
.newsll {
    border-radius: 15px;
}
.suscrib {
    color: #fff;
    padding: 6px 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
}
.suscrib:hover {
    color: #fff;
}
.growbis {
    background-color: #ffffff;
    box-shadow: 0 0 11px -6px #111;
    padding: 15px;
    border-radius: 5px;
}
.growbis h3 {
    font-size: 25px;
    padding: 15px 15px;
}
.growbis a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #3763eb;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 15px;
    transition: 0.5s;
}
.growbis a:hover {
    background-color: #0d6efd;
    color: #fff;
}
